body,
html,
#root,
.App {
  margin: 0px;
  height: 100%;
  word-wrap: break-word;
}
.App {
  text-align: center;
}
.wrapper {
  padding: 10% 0%;
}

.marker1 {
  border-color: red;
  border-style: solid;
}
.marker2 {
  border-color: yellow;
  border-style: solid;
}
.marker3 {
  border-color: rgb(55, 0, 255);
  border-style: solid;
}
.gridbox1 {
  height: 100px;
  border-color: yellow;
  border-style: solid;
}
.gridbox2 {
  height: 200px;
  border-color: rgb(55, 0, 255);
  border-style: solid;
}
